
* {
    box-sizing: border-box;
    padding: 0;
    margin:0 ;
}
img {
    width: 100%;
}

:root {
    --ffsb: hsl(231, 69%, 60%);
    --ffcb:hsl(0, 94%, 66%);
    --nehsl:hsl(229, 31%, 21%);
    --ffs:1.5rem;
}
body{
    max-width: 1200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
a{
    text-decoration: none;
    color:var(--ffcb);
    text-transform: capitalize;
}
li {
    text-decoration: none;
}
header {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
 
.logo {
    font-size: var(--ffs);
    margin-left: 1.6rem;
}
li {
    list-style: none;
}
main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0px);
}
main ul {
    align-items: center;
    display: flex;
    justify-content: space-between;

}
main ul li {
    padding-left: 1rem;
    font-size: var(--ffs);
}
main ul li:hover {
    color: var(--ffcb);
}
main ul li a {
    padding: 1rem;
    text-decoration: none;
    color: black;
    list-style: none;
}
main ul li a:hover {
    color: var(--ffcb);
}
button {
    padding: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-right: 1.4rem;
    margin-top:0;
    border-radius: 1.4rem;
    display:inline-block;
    font-size: 1.3rem;
    text-transform: capitalize;
    border: none;

    
}
 .d {
    display: none;
    align-items: center;
    border-radius: 19px;
    border: 1px solid blue;
    padding: .3rem .9rem;
    width: 90px;
    background-color: var(--ffsb);

}
button a:hover {
   color: black;
}
.hamburger {
    font-size: 1.5rem;
    display: none;
    width: 40px;
    background: none;
    cursor: pointer;
}

.hamburger .open {
    color: var(--ffcb);
    width: 50%;
    height: 50%;
   
}
.section_a {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    margin-top: 2rem;
    background-image: ('/images/icon-') ;
}
.section_a .img-a {
    width:100%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right:2rem ;
}
.section_a .content_a {
    font-size: 1.4rem;
    padding: 1.7rem;
    line-height: 1.3;
}
.section_a .content_a .h2 {
    text-transform: capitalize;
}
.section_a .content_a p {
        margin-left: 1rem;
}
.section_a .content_a .b {
    margin-top: 1rem;
    background-color: var(--ffcb);
}
.section_a .content_a .a {
    background-color: var(--ffsb);

}

@media(max-width: 50em) {
    header {
        display: flex;
        position: relative;
    }
    .hamburger {
        z-index: 1001;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.8rem;
        outline: none;
        border: none;

    }
    .hamburger .close {
        display: none;
    }
    .section_a {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .section_a .content_a {
        padding: 1rem;
        text-align: center;
        margin-left: 1.4rem;
        margin-right: 1.4rem;
    }
    .section_a .content_a .h2 {
        font-size: 1.9rem;
        text-align: center;
    }
    .section_a .content_a .a {
        margin-top: 1.5rem;
    }
    .section_a .img-a {
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       padding-right: 2.5rem;
       width: 95%;
    }

    main  {
        display:flex;
    } 
    nav ul  {
        display: flex;
        position: absolute;
        top: 100%;
        right: 800%;
        width: 300px;
        height: 30vh;
        background-color:var(--nehsl);
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 1rem;
        border-radius: 25px;
        transition: all .50s ease;
        
    }
    nav ul li a {
        padding-top: 10px;
        color: #FFF;
        transform: translateX(9px);
    }
    nav ul li a:hover {
        color:var(--ffcb);
        transition: all .50s ease;
        
    }
    .d {
        display: flex;
        align-items: center;
        background: var(--ffcb);
        border-radius: 10px;
        color: var(--ffsb);
        max-width: 70px;
        border: none;
        color:#FFF;
        
        text-align: center;
    }
    menu .open {
        margin-right: 1rem;

    }
    
}
    





    













